:root {
  --cyan-100: #cff4fc;
}

body {
  max-width: 1440px;  
  font-family: "Inter", sans-serif;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
}

/*HEADER*/
.header {
  height: 295px;
  border: 1px solid var(--stroke-input, #ced4da);
  background: linear-gradient(134deg, #087990 0%, #055160 100%);
}

.header-title {
  margin: 68px auto 68px;
  text-align: center;
}

.header-title h1 {
  color: var(--cyan-100, #cff4fc);
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin-bottom: 4px;
}

.header-title p {
  color: var(--cyan-100, #cff4fc);
  font-size: 21px;
  font-weight: 400;
  line-height: 36px;
}

/*MAIN*/
.main {
  max-width: 986px;  
  position: relative;
  top: 0;
  left: 0;

  padding-top: 80px;
  margin-bottom: 50px;
  margin: 0 auto;
}

/*MAIN - INPUT*/
.input-search input {
  width: 820px;
  height: 64px;

  border-radius: 4px;
  border: 1px solid var(--stroke-input, #ced4da);
  background: var(--gray-white, #fff);

  position: absolute;
  top: -32px;
  left: 83px;

  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 32px;
  color: #3f444a;
}

input:placeholder-shown {
  color: var(--secondary-light-color, #abb5be);
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  padding-left: 32px;
  box-sizing: border-box;
}

/*MAIN - CARD*/
.field-cards {
    margin-bottom: 50px;
}

.card-body {
  /*для ul*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 184px);
  grid-row-gap: 19px;
  grid-column-gap: 22px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.card {
  /*для li*/
  width: 316px;
  height: 184px;
  border-radius: 4px;
  border: 1px solid var(--stroke-light, #dee2e6);
  background: #fff;
}

.card-inform {
  /*для содержимого (div) внутри li*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 136px;
  width: 268px;
  margin: 24px auto 24px;
  padding: 0;
}

.card-inform__symbol {
  /*для символа внутри li*/
  height: 48px;
  width: 48px;
  padding: 0;
  margin: 0;

  color: var(--body-text-base-color, #68717a);
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
}

.card-inform__title {
  /*для заголовка внутри li*/
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-decoration-line: underline;

  padding: 0;
  margin: 0;
}

.card-inform__description {
  /*для описания внутри li*/
  color: #3f444a;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;

  padding: 0;
  margin: 0;
}

/*FOOTER*/
.footer {
  max-width: 986px;
  border-top: #ced4da solid 1px;
  text-align: center;
  margin: 0 auto;
}

.footer__title {
  color: var(--secondary-color, #6c757d);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 13px;
  padding-bottom: 17px;
}
